In [1]:
import pandas as pd
df = pd.read_csv('bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv')
df.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df.describe()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
count,4.857377e+06,3.613769e+06,3.613769e+06,3.613769e+06,3.613769e+06,3.613769e+06,3.613769e+06,3.613769e+06
mean,1.471301e+09,6.009024e+03,6.013357e+03,6.004488e+03,6.009014e+03,9.323249e+00,4.176284e+04,6.008935e+03
std,8.428019e+07,8.996247e+03,9.003521e+03,8.988778e+03,8.996360e+03,3.054989e+01,1.518248e+05,8.995992e+03
min,1.325318e+09,3.800000e+00,3.800000e+00,1.500000e+00,1.500000e+00,0.000000e+00,0.000000e+00,3.800000e+00
25%,1.398179e+09,4.438600e+02,4.440000e+02,4.435200e+02,4.438600e+02,4.097759e-01,4.521422e+02,4.438306e+02
50%,1.471428e+09,3.596970e+03,3.598190e+03,3.595620e+03,3.597000e+03,1.979811e+00,3.810124e+03,3.596804e+03
75%,1.544288e+09,8.627270e+03,8.632980e+03,8.621090e+03,8.627160e+03,7.278216e+00,2.569821e+04,8.627637e+03
max,1.617149e+09,6.176356e+04,6.178183e+04,6.167355e+04,6.178180e+04,5.853852e+03,1.390067e+07,6.171621e+04

In [3]:
df.shape

(4857377, 8)

In [4]:
# If the NA rows are small in number, can safely drop
df.isnull().sum()

Timestamp                  0
Open                 1243608
High                 1243608
Low                  1243608
Close                1243608
Volume_(BTC)         1243608
Volume_(Currency)    1243608
Weighted_Price       1243608
dtype: int64

In [5]:
import math
median_scores = math.floor(df['Open'].median())
median_scores

3596

In [6]:
df['Open'] = df['Open'].fillna(median_scores)
df.isnull().sum()

Timestamp                  0
Open                       0
High                 1243608
Low                  1243608
Close                1243608
Volume_(BTC)         1243608
Volume_(Currency)    1243608
Weighted_Price       1243608
dtype: int64

In [7]:
median_scores = math.floor(df['High'].median())
median_scores

3598

In [8]:
df['High'] = df['High'].fillna(median_scores)
df.isnull().sum()

Timestamp                  0
Open                       0
High                       0
Low                  1243608
Close                1243608
Volume_(BTC)         1243608
Volume_(Currency)    1243608
Weighted_Price       1243608
dtype: int64

In [9]:
median_scores = math.floor(df['High'].median())
median_scores

3598

In [10]:
df['Low'] = df['Low'].fillna(median_scores)
df.isnull().sum()

Timestamp                  0
Open                       0
High                       0
Low                        0
Close                1243608
Volume_(BTC)         1243608
Volume_(Currency)    1243608
Weighted_Price       1243608
dtype: int64

In [11]:
median_scores = math.floor(df['Close'].median())
median_scores

3597

In [12]:
df['Close'] = df['Close'].fillna(median_scores)
df.isnull().sum()

Timestamp                  0
Open                       0
High                       0
Low                        0
Close                      0
Volume_(BTC)         1243608
Volume_(Currency)    1243608
Weighted_Price       1243608
dtype: int64

In [13]:
median_scores = math.floor(df['Volume_(BTC)'].median())
median_scores

1

In [14]:
df['Volume_(BTC)'] = df['Volume_(BTC)'].fillna(median_scores)
df.isnull().sum()

Timestamp                  0
Open                       0
High                       0
Low                        0
Close                      0
Volume_(BTC)               0
Volume_(Currency)    1243608
Weighted_Price       1243608
dtype: int64

In [15]:
median_scores = math.floor(df['Volume_(Currency)'].median())
median_scores

3810

In [16]:
df['Volume_(Currency)'] = df['Volume_(Currency)'].fillna(median_scores)
df.isnull().sum()

Timestamp                  0
Open                       0
High                       0
Low                        0
Close                      0
Volume_(BTC)               0
Volume_(Currency)          0
Weighted_Price       1243608
dtype: int64

In [17]:
median_scores = math.floor(df['Weighted_Price'].median())
median_scores

3596

In [18]:
df['Weighted_Price'] = df['Weighted_Price'].fillna(median_scores)
df.isnull().sum()

Timestamp            0
Open                 0
High                 0
Low                  0
Close                0
Volume_(BTC)         0
Volume_(Currency)    0
Weighted_Price       0
dtype: int64

In [19]:
df2 = df.drop('Timestamp', axis = 'columns')
df2

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
1,3596.00,3598.00,3598.00,3597.00,1.000000,3810.000000,3596.000000
2,3596.00,3598.00,3598.00,3597.00,1.000000,3810.000000,3596.000000
3,3596.00,3598.00,3598.00,3597.00,1.000000,3810.000000,3596.000000
4,3596.00,3598.00,3598.00,3597.00,1.000000,3810.000000,3596.000000
...,...,...,...,...,...,...,...
4857372,58714.31,58714.31,58686.00,58686.00,1.384487,81259.372187,58692.753339
4857373,58683.97,58693.43,58683.97,58685.81,7.294848,428158.146640,58693.226508
4857374,58693.43,58723.84,58693.43,58723.84,1.705682,100117.070370,58696.198496
4857375,58742.18,58770.38,58742.18,58760.59,0.720415,42332.958633,58761.866202
4857376,58767.75,58778.18,58755.97,58778.18,2.712831,159417.751000,58764.349363

In [20]:
df2.Open.describe()

count    4.857377e+06
mean     5.391230e+03
std      7.830763e+03
min      3.800000e+00
25%      6.304000e+02
50%      3.596000e+03
75%      7.195560e+03
max      6.176356e+04
Name: Open, dtype: float64

In [21]:
Q1 = df2.Open.quantile(0.25)
Q3 = df2.Open.quantile(0.75)
Q1, Q3

(630.4, 7195.56)

In [22]:
IQR = Q3 - Q1
IQR

6565.160000000001

In [23]:
#Upper and lower limits
lower_limit = Q1 - 1.5*IQR
upper_limit = Q3 + 1.5*IQR
lower_limit, upper_limit

(-9217.340000000002, 17043.300000000003)

In [24]:
df_no_outlier2 = df2[(df2.Open>lower_limit)&(df2.Open<upper_limit)]
df_no_outlier2

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,3596.00,3598.00,3598.00,3597.00,1.000000,3810.0,3596.00
2,3596.00,3598.00,3598.00,3597.00,1.000000,3810.0,3596.00
3,3596.00,3598.00,3598.00,3597.00,1.000000,3810.0,3596.00
4,3596.00,3598.00,3598.00,3597.00,1.000000,3810.0,3596.00
...,...,...,...,...,...,...,...
4856245,3596.00,3598.00,3598.00,3597.00,1.000000,3810.0,3596.00
4856308,3596.00,3598.00,3598.00,3597.00,1.000000,3810.0,3596.00
4856376,3596.00,3598.00,3598.00,3597.00,1.000000,3810.0,3596.00
4857340,3596.00,3598.00,3598.00,3597.00,1.000000,3810.0,3596.00
4857368,3596.00,3598.00,3598.00,3597.00,1.000000,3810.0,3596.00

In [25]:
Q1 = df_no_outlier2.High.quantile(0.25)
Q3 = df_no_outlier2.High.quantile(0.75)
Q1, Q3

(608.22, 6525.5075)

In [26]:
IQR = Q3 - Q1
IQR

5917.287499999999

In [27]:
#Upper and lower limits
lower_limit = Q1 - 1.5*IQR
upper_limit = Q3 + 1.5*IQR
lower_limit, upper_limit

(-8267.71125, 15401.43875)

In [28]:
df_no_outlier3 = df_no_outlier2[(df_no_outlier2.High>lower_limit)&(df_no_outlier2.High<upper_limit)]
df_no_outlier3.head()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,3596.00,3598.00,3598.00,3597.00,1.000000,3810.0,3596.00
2,3596.00,3598.00,3598.00,3597.00,1.000000,3810.0,3596.00
3,3596.00,3598.00,3598.00,3597.00,1.000000,3810.0,3596.00
4,3596.00,3598.00,3598.00,3597.00,1.000000,3810.0,3596.00

In [29]:
Q1 = df_no_outlier3.Low.quantile(0.25)
Q3 = df_no_outlier3.Low.quantile(0.75)
Q1, Q3

(605.63, 6451.67)

In [30]:
IQR = Q3 - Q1
IQR

5846.04

In [31]:
#Upper and lower limits
lower_limit = Q1 - 1.5*IQR
upper_limit = Q3 + 1.5*IQR
lower_limit, upper_limit

(-8163.429999999999, 15220.73)

In [32]:
df_no_outlier4 = df_no_outlier3[(df_no_outlier3.Low>lower_limit)&(df_no_outlier3.Low<upper_limit)]
df_no_outlier4.head()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,3596.00,3598.00,3598.00,3597.00,1.000000,3810.0,3596.00
2,3596.00,3598.00,3598.00,3597.00,1.000000,3810.0,3596.00
3,3596.00,3598.00,3598.00,3597.00,1.000000,3810.0,3596.00
4,3596.00,3598.00,3598.00,3597.00,1.000000,3810.0,3596.00

In [33]:
Q1 = df_no_outlier4.Close.quantile(0.25)
Q3 = df_no_outlier4.Close.quantile(0.75)
Q1, Q3

(605.69, 6447.192499999999)

In [34]:
IQR = Q3 - Q1
IQR

5841.502499999999

In [35]:
#Upper and lower limits
lower_limit = Q1 - 1.5*IQR
upper_limit = Q3 + 1.5*IQR
lower_limit, upper_limit

(-8156.5637499999975, 15209.446249999997)

In [36]:
df_no_outlier5 = df_no_outlier4[(df_no_outlier4.Close>lower_limit)&(df_no_outlier4.Close<upper_limit)]
df_no_outlier5.head()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,3596.00,3598.00,3598.00,3597.00,1.000000,3810.0,3596.00
2,3596.00,3598.00,3598.00,3597.00,1.000000,3810.0,3596.00
3,3596.00,3598.00,3598.00,3597.00,1.000000,3810.0,3596.00
4,3596.00,3598.00,3598.00,3597.00,1.000000,3810.0,3596.00

In [37]:
Q1 = df_no_outlier5['Volume_(BTC)'].quantile(0.25)
Q3 = df_no_outlier5['Volume_(BTC)'].quantile(0.75)
Q1, Q3

(0.745476685, 4.3711694025000005)

In [38]:
IQR = Q3 - Q1
IQR

3.6256927175000007

In [39]:
lower_limit = Q1 - 1.5*IQR
upper_limit = Q3 + 1.5*IQR
lower_limit, upper_limit

(-4.693062391250001, 9.80970847875)

In [40]:
df_no_outlier6 = df_no_outlier5[(df_no_outlier5['Close'] > lower_limit) & (df_no_outlier5['Close'] < upper_limit)]
df_no_outlier6.head()

      Open  High   Low  Close  Volume_(BTC)  Volume_(Currency)  Weighted_Price
0     4.39  4.39  4.39   4.39      0.455581           2.000000        4.390000
478   4.39  4.39  4.39   4.39     48.000000         210.720000        4.390000
547   4.50  4.57  4.50   4.57     37.862297         171.380338        4.526411
548   4.58  4.58  4.58   4.58      9.000000          41.220000        4.580000
1224  4.58  4.58  4.58   4.58      1.502000           6.879160        4.580000

In [41]:
Q1 = df_no_outlier6['Volume_(Currency)'].quantile(0.25)
Q3 = df_no_outlier6['Volume_(Currency)'].quantile(0.75)
Q1, Q3

(12.402499994, 130.11609997)

In [42]:
IQR = Q3 - Q1
IQR

117.713599976

In [43]:
lower_limit = Q1 - 1.5*IQR
upper_limit = Q3 + 1.5*IQR
lower_limit, upper_limit

(-164.16789996999998, 306.686499934)

In [44]:
df_no_outlier7 = df_no_outlier6[(df_no_outlier6['Volume_(Currency)'] > lower_limit) & (df_no_outlier6['Volume_(Currency)'] < upper_limit)]
df_no_outlier7.head()

      Open  High   Low  Close  Volume_(BTC)  Volume_(Currency)  Weighted_Price
0     4.39  4.39  4.39   4.39      0.455581           2.000000        4.390000
478   4.39  4.39  4.39   4.39     48.000000         210.720000        4.390000
547   4.50  4.57  4.50   4.57     37.862297         171.380338        4.526411
548   4.58  4.58  4.58   4.58      9.000000          41.220000        4.580000
1224  4.58  4.58  4.58   4.58      1.502000           6.879160        4.580000

In [45]:
Q1 = df_no_outlier7['Weighted_Price'].quantile(0.25)
Q3 = df_no_outlier7['Weighted_Price'].quantile(0.75)
Q1, Q3

(5.09, 7.44)

In [46]:
IQR = Q3 - Q1
IQR

2.3500000000000005

In [47]:
lower_limit = Q1 - 1.5*IQR
upper_limit = Q3 + 1.5*IQR
lower_limit, upper_limit

(1.564999999999999, 10.965000000000002)

In [48]:
df_no_outlier8 = df_no_outlier7[(df_no_outlier7['Weighted_Price'] > lower_limit) & (df_no_outlier7['Weighted_Price'] < upper_limit)]
df_no_outlier8.head()

      Open  High   Low  Close  Volume_(BTC)  Volume_(Currency)  Weighted_Price
0     4.39  4.39  4.39   4.39      0.455581           2.000000        4.390000
478   4.39  4.39  4.39   4.39     48.000000         210.720000        4.390000
547   4.50  4.57  4.50   4.57     37.862297         171.380338        4.526411
548   4.58  4.58  4.58   4.58      9.000000          41.220000        4.580000
1224  4.58  4.58  4.58   4.58      1.502000           6.879160        4.580000

In [49]:
X = df_no_outlier8.drop(['Weighted_Price'], axis = 'columns')
X

        Open  High   Low  Close  Volume_(BTC)  Volume_(Currency)
0       4.39  4.39  4.39   4.39      0.455581           2.000000
478     4.39  4.39  4.39   4.39     48.000000         210.720000
547     4.50  4.57  4.50   4.57     37.862297         171.380338
548     4.58  4.58  4.58   4.58      9.000000          41.220000
1224    4.58  4.58  4.58   4.58      1.502000           6.879160
...      ...   ...   ...    ...           ...                ...
433384  9.50  9.50  9.50   9.50      1.000000           9.500000
433477  9.50  9.50  9.50   9.50      3.000000          28.500000
433478  9.50  9.50  9.50   9.50     29.274740         278.110030
433482  9.50  9.50  9.50   9.50     25.000000         237.500000
433485  9.50  9.50  9.50   9.50      0.725260           6.889970

[7516 rows x 6 columns]

In [50]:
y = df_no_outlier8.Weighted_Price
y

0         4.390000
478       4.390000
547       4.526411
548       4.580000
1224      4.580000
            ...
433384    9.500000
433477    9.500000
433478    9.500000
433482    9.500000
433485    9.500000
Name: Weighted_Price, Length: 7516, dtype: float64

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [52]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.999995239700225

In [53]:
# K Fold cross validation
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import ShuffleSplit  #Randomize samples, each fold has equal distribution of samples
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, y, cv=cv)

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

In [54]:
import pandas as pd
from sklearn.model_selection import GridSearchCV, ShuffleSplit
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.tree import DecisionTreeRegressor

# Assuming you have defined X and y as follows:
# X = df12.drop(['price'], axis='columns')
# y = df12['price']

# Convert y to a 1-dimensional Series if needed
if isinstance(y, pd.DataFrame):
    y = y.squeeze()

def find_best_model_using_gridsearchcv(X, y):
    algos = {
        'linear_regression': {
            'model': LinearRegression(),
            'params': {
                # Remove 'normalize' parameter from the LinearRegression model
            }
        },
        'lasso': {
            'model': Lasso(),
            'params': {
                'alpha': [1, 2],
                'selection': ['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion': ['mse', 'friedman_mse'],
                'splitter': ['best', 'random']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
        gs = GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X, y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })

    return pd.DataFrame(scores, columns=['model', 'best_score', 'best_params'])

# Perform grid search cross-validation to find the best hyperparameters for each model
result_df = find_best_model_using_gridsearchcv(X, y)
print(result_df)

               model  best_score  \
0  linear_regression    0.999980
1              lasso    0.775709
2      decision_tree    0.999933

                                         best_params
0                                                 {}
1                {'alpha': 1, 'selection': 'random'}
2  {'criterion': 'friedman_mse', 'splitter': 'ran...

/Users/imraanarbab/miniconda3/envs/sklearn-env/lib/python3.11/site-packages/sklearn/model_selection/_validation.py:378: FitFailedWarning:
10 fits failed out of a total of 20.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "/Users/imraanarbab/miniconda3/envs/sklearn-env/lib/python3.11/site-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/imraanarbab/miniconda3/envs/sklearn-env/lib/python3.11/site-packages/sklearn/tree/_classes.py", line 1247, in fit
    super().fit(
  File "/Users/imraanarbab/miniconda3/envs/sklearn-env/lib/python3.11/site-packages/sklearn/tree/_classes.py", line 177, in fit
    self._validate_params()
  File "/Users/imraanarbab/miniconda3/envs/sklearn-env/lib/python3.11/site-packages/sklearn/base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "/Users/imraanarbab/miniconda3/envs/sklearn-env/lib/python3.11/site-packages/sklearn/utils/_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'poisson', 'absolute_error', 'squared_error', 'friedman_mse'}. Got 'mse' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/Users/imraanarbab/miniconda3/envs/sklearn-env/lib/python3.11/site-packages/sklearn/model_selection/_search.py:952: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.9999331  0.99993325]
  warnings.warn(